__pycache__/codepublish.cpython-310.pyc
testassignment/publish/createpdf.ps1
testassignment/publish/Test Assignment-plantuml.txt
testassignment/publish/Test Assignment.aux
testassignment/publish/Test Assignment.log
.vscode/settings.json
testassignment/publish/TestAssignment.tex
testassignment/publish/TestAssignment.log
testassignment/publish/TestAssignment.aux
testassignment/publish/TestAssignment-plantuml.txt
testassignment/publish/TestAssignment-plantuml.latex
